* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  font-family: "Avenir", "Lucida Console";
}

.hidden {
  display: none;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#e74c3c;
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
}

.screen {
  height: 100%;
  width: 100%;
  text-align: center;
}

/* 2 2 2 2 * * * * * * * * * * * * * MAIN SCREEN * * * * * * * * * * * * * * * * */
#play-button {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 75px;
}
#record-button {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 75px;
}

/* 3 3 3 3 * * * * * * * * * * * * * LISTEN SCREEN * * * * * * * * * * * * * * * * */
#stop-recording-button {
  display: block;
  padding-top: 40vh;
  margin-left: auto;
  margin-right: auto;
}

/* 4 4 4 4 * * * * * * * * * * * * * LISTEN SCREEN * * * * * * * * * * * * * * * * */
#listen-screen {
  /* display: block; */
}
#tag-box {
  margin: 0 auto 0 auto;
  padding: 5vh 0 8vh 0;
}
#stop-button {
  /* FIX */
  border-color: #FFF;
  border-width: 30px;
  border-style: solid;
  height: 125px;
  width: 125px;
  margin: auto;
  margin-top: 100%;
}

.tag {
  color: white;
  padding: 8px;
  border-radius: 8px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin: 4px;
}

#tag-area {
  margin: 10%;
  position: absolute;
  top: 10px;
}

.slider-wrapper {
  top: 240px;
  position: absolute;
  margin: 20px;
  width: calc(100% - 60px);
  left: 10px;
}

.hr {
  width: 1%;
  left:0px;
  position: absolute;
  border-color: white;
}

#upvotes {
color: white;
font-size: 38px;
font-weight: bold;
position: absolute;
left: 110px;
width: 50px;
top: 116px;
text-align: center;
margin-left: auto;
margin-right: auto;
}

#voteup {
position: absolute;
left: 110px;
top: 50px;
}
#votedown{
position: absolute;
left: 110px;
top: 180px;
}
